@import url("/styles/root.css");
@import url("/styles/preloader.css");
@import url("/styles/header.css");
@import url("/styles/main.css");
@import url("/styles/footer.css");

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "TTInterfaces", sans-serif;
	background-color: var(--background-page);
	color: var(--white-text);
}

body {
	max-width: 1600px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--blue-text);
}

ul {
	padding: 0;
}

.fs1 {
	font-size: var(--fs1-d);
}

.fs2 {
	font-size: var(--fs2-d);
}

.fs3 {
	font-size: var(--fs3-d);
}

p,
.fs4 {
	font-size: var(--fs4-d);
}

.fs6 {
	font-size: var(--fs6-d);
}

.f-onest {
	font-family: "Onest", sans-serif;
}
.gray-text {
	color: var(--gray-text);
}

.card-row-column {
	display: flex;

	justify-content: space-between;
	align-items: flex-start;
}

.card-margin {
	margin: 32px 50px;
	margin-top: 0;
}

@media (max-width: 768px) {
	.card-row-column {
		flex-direction: column;
	}

	.fs1 {
		font-size: var(--fs1-m);
	}

	.fs2 {
		font-size: var(--fs2-m);
	}

	.fs3 {
		font-size: var(--fs3-m);
	}

	p,
	.fs4 {
		font-size: var(--fs4-m);
	}

	.fs6 {
		font-size: var(--fs6-m);
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.fs1 {
		font-size: var(--fs1-t);
	}

	.fs2 {
		font-size: var(--fs2-t);
	}
	.fs3 {
		font-size: var(--fs3-t);
	}

	p,
	.fs4 {
		font-size: var(--fs4-t);
	}

	.fs6 {
		font-size: var(--fs6-t);
	}
}
